.card {
  background-color: var(--card-color);
  padding: 1.5rem;
  border-radius: 3px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  cursor: default;

  .title {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .tools {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;


    div {
      font-size: 0.85rem;
      color: var(--paragraph-color);
      text-transform: capitalize;
      background-color: var(--card-tool-color);
      padding: 0.25rem;
      border-radius: 0.15rem;
    }
  }

  p {
    font-size: 0.9rem;
    color: var(--cardDescription-color);
  }

  .code {
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-size: 0.9rem;

    a {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;

      span {
        color: var(--cardStack-color);
      }

      svg {
        width: 1rem;
        color: var(--workHeading-color);
      }
    }
  }
}
