.card {
  background-color: var(--card-color);
  padding: 1.5rem;
  border-radius: 3px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  cursor: default;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(0.95);
  }

  @media only screen and (max-width: 768px) {
    width: 90%;
    margin: auto;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    .links {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
    }

    svg {
      width: 1.25rem;
      color: var(--cardStack-color);

      &.code {
        width: 2rem;
      }
    }
  }

  .body {
    margin-bottom: 1rem;

    h4 {
      color: var(--cardHeader-color);
      margin-bottom: 0.5rem;
      font-size: 1.25rem;
      font-weight: 500;
    }

    p {
      font-size: 0.9rem;
      color: var(--cardDescription-color);
    }
  }

  .footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.75rem;

    span {
      font-size: 0.85rem;
      color: var(--workHeading-color);
    }
  }
}
